<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.peisun.shuzobotwidget"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-feature android:name="android.hardware.wifi" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <application
        android:icon="@drawable/shuzo2"
        android:label="@string/app_name" android:debuggable="true">
        <activity
            android:name=".ShuzobotwidgetActivity"
            android:label="@string/app_name" 
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="ShuzoConfigActivity"
		    android:label="@string/app_name"
             android:launchMode="singleInstance">
		    
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            	<category android:name="android.intent.category.DEFAULT"/>
            	<category android:name="android.intent.category.BROWSABLE"/>
            	<data android:scheme="myapp" android:host="mainactivity"/>
            </intent-filter>
            
		</activity>
        <receiver
            android:name="ShuzobotAppWidgetProvider"
            android:label="@string/widget_14" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shuzobotappwidget" />
        </receiver>
        <receiver
            android:name="ShuzobotAppWidgetProvider23"
            android:label="@string/widget_23" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shuzobotappwidget23" />
        </receiver>
        <service android:name="TwitterAccessService" android:enabled="true">
            
            <intent-filter>
                <action android:name ="jp.peisun.shuzobotwidget.widgetupdate"/>
                <action android:name ="jp.peisun.shuzobotwidget.stop"/>
                <action android:name ="jp.peisun.shuzobotwidget.start"/>
                <action android:name ="jp.peisun.shuzobotwidget.click"/>
                <action android:name ="jp.peisun.shuzobotwidget.clickget"/>
                <action android:name ="jp.peisun.shuzobotwidget.readshuzo"/>
                <action android:name ="jp.peisun.shuzobotwidget.wifichanged"/>
                <action android:name ="jp.peisun.shuzobotwidget.screenchanged"/>
                <action android:name ="jp.peisun.shuzobotwidget.updateconfig"/>
            </intent-filter>

        </service>
        <receiver android:name="ShuzoReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>