<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.peisun.shuzobotwidget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-feature android:name="android.hardware.wifi" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true">
        <activity
            android:name=".ShuzobotwidgetActivity"
            android:label="@string/app_name" 
             android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            	<category android:name="android.intent.category.DEFAULT"/>
            	<category android:name="android.intent.category.BROWSABLE"/>
            	<data android:scheme="myapp" android:host="mainactivity"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="ShuzobotAppWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shuzobotappwidget" />
        </receiver>
        <service android:name="TwitterAccessService">
            
            <intent-filter>
                <action android:name="jp.peisun.shuzobotwidget.widgetupdate"/>
                <action android:name ="jp.peisun.shuzobotwidget.stop"/>
                <action android:name="jp.peisun.shuzobotwidget.readshuzo"/>
                <action android:name="jp.peisun.shuzobotwidget.wifichanged"/>
            </intent-filter>

        </service>
        <receiver android:name="ShuzoReceiver" android:permission="android.permission.WAKE_LOCK">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>